.banner-bg
  background-color: #111111
  width: 100vw
  height: 760px
  @media screen and (min-width: 420px)
    height: 850px
  @media screen and (min-width: 500px)
    height: 950px
  @media screen and (min-width: 600px)
    height: 1000px
  @media screen and (min-width: 700px)
    height: 800px
  @media screen and (min-width: 780px)
    height: 950px
  .banner
    width: inherit
    height: 250px
    @media screen and (min-width: 420px)
      height: 300px
    @media screen and (min-width: 500px)
      height: 350px
    @media screen and (min-width: 780px)
      height: 400px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-image: url('/images/retro.jpeg')
  .screen-splitter
    flex-direction: column-reverse
    display: flex
    width: 100vw
    height: 600px
    @media screen and (min-width: 700px)
      height: 700px
      flex-direction: row
    @media screen and (min-width: 780px)
      height: 600px
      flex-direction: row
    .column
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      position: relative
      width: 100vw
      height: inherit
      @media screen and (min-width: 780px)
        width: 60vw
        &:first-child
          width: 40vw
      .screen-container
        width: 100vw
        height: 403px
        @media screen and (min-width: 600px)
          height: 403px
        @media screen and (min-width: 700px)
          height: 461px
        @media screen and (min-width: 780px)
          width: 60vw
          height: 577px
        position: absolute
        overflow: hidden
        left: 0
        top: -50px
        .screen
          margin: 0 auto
          width: 300px
          height: 231px
          padding-top: 6px
          @media screen and (min-width: 420px)
            width: 375px
            height: 288px
            padding-top: 7px
          @media screen and (min-width: 500px)
            width: 450px
            height: 346px
            padding-top: 8px
          @media screen and (min-width: 600px)
            width: 525px
            height: 403px
            padding-top: 12px
          @media screen and (min-width: 700px)
            width: 600px
            height: 461px
            margin: 0
            padding-top: 15px
          @media screen and (min-width: 780px)
            width: 751px
            height: 577px
            margin: 0
            padding-top: 12px
          background-position: center
          background-repeat: no-repeat
          background-size: cover
          background-image: url('/images/screen.jpeg')
          border-radius: 9px
      .info-container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: -90px
        width: 300px
        @media screen and (min-width: 420px)
          margin-top: -50px
          max-width: 320px
        @media screen and (min-width: 500px)
          margin-top: 10px
          max-width: 320px
        @media screen and (min-width: 600px)
          margin-top: 70px
          max-width: 320px
        @media screen and (min-width: 960px)
          margin-top: 0
          max-width: 350px
        p, h1
          color: white
        button
          margin-top: 20px
          color: white
          width: 200px
          height: 45px
          border-radius: 8px
          background-color: #7327BF
          display: flex
          align-items: center
          justify-content: center
          @extend .linear-transition
          &:hover
            background-color: #5d2099

.download-banner
  background-color: #F7F6FF
  width: 100vw
  height: 320px
  display: flex
  .column
    width: 49vw
    height: inherit
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    .download-hashes
      position: absolute
      bottom: 8px
      background-color: rgb(236, 236, 236)
      border-radius: 8px
      padding-left: 5px
      padding-right: 5px
      margin-top: 10px
      opacity: 0
      p
        margin-top: 5px
        margin-bottom: 5px
        font-size: 14px
    .download-bar
      width: 100px
      height: 30px
      display: flex
      justify-content: space-around
      align-items: center
    .vive,
    .desktop,
    .windows,
    .apple,
    .internet
      background-size: cover
      background-position: center
    .windows,
    .apple,
    .internet
      @extend .linear-transition
      &:hover
        transform: translateY(-5px)
    .vive
      width: 96px
      height: 80px
      @media screen and (min-width: 350px)
        width: 135px
        height: 113px
      @media screen and (min-width: 500px)
        width: 193px
        height: 161px
      background-position: center
      background-image: url('/images/vive.png')
    .desktop
      width: 126px
      height: 75px
      @media screen and (min-width: 350px)
        width: 176px
        height: 105px
      @media screen and (min-width: 500px)
        width: 252px
        height: 151px
      background-image: url('/images/computer.png')
      position: relative
      bottom: 10px
    .windows
      width: 28px
      height: 28px
      background-image: url('/images/windows.png')
    .apple
      width: 24px
      height: 28px
      background-image: url('/images/apple.png')
    .internet
      width: 28px
      height: 28px
      background-image: url('/images/internet.png')

.quotes-banner
  width: 100vw
  height: 70px
  background-image: url('/images/blurred-bg.jpg')
  background-position: center
  background-size: cover
  padding-top: 30px
  padding-bottom: 30px
  .slick-carousel p
    text-align: center
    color: white
    font-family: 'Courgette', cursive
    font-size: 22px

.built-with-banner
  background-color: #2C2C2C
  width: 100vw
  height: 140px
  @media screen and (min-width: 650px)
    height: 180px
  display: flex
  justify-content: center
  align-items: center
  position: relative
  h2
    position: absolute
    color: white
    text-align: center
    font-size: 16px
    font-weight: 400
    top: 20px
    margin: 0
  .container
    width: 350px
    @media screen and (min-width: 650px)
      width: 600px
    height: 80px
    display: flex
    justify-content: space-between
    align-items: center
    .unity,
    .github,
    .blender,
    .vive,
    .photoshop
      background-size: cover
      background-position: center
      &:hover,
      &:focus,
      &:active
        animation-name: pop-animation
        animation-duration: 0.2s
        animation-timing-function: linear
        animation-iteration-count: 1
    .unity
      width: 48px
      height: 48px
      @media screen and (min-width: 650px)
        width: 80px
        height: 80px
      background-image: url('/images/unity.png')
    .github
      width: 48px
      height: 46px
      @media screen and (min-width: 650px)
        width: 80px
        height: 78px
      background-image: url('/images/github.png')
    .blender
      width: 48px
      height: 43px
      @media screen and (min-width: 650px)
        width: 80px
        height: 71px
      background-image: url('/images/blender.png')
    .vive
      width: 48px
      height: 38px
      @media screen and (min-width: 650px)
        width: 80px
        height: 63px
      background-image: url('/images/vive-logo.png')
    .photoshop
      width: 48px
      height: 46px
      @media screen and (min-width: 650px)
        width: 80px
        height: 78px
      background-image: url('/images/photoshop.png')

.challenges
  width: 100vw
  min-height: 350px
  background-color: #f7f6ff
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding-top: 20px
  padding-bottom: 20px
  ul
    margin-left: 20px
    margin-right: 20px
    li
      margin-bottom: 8px
      max-width: 800px
      font-size: 14px

.making-of
  background-color: #111111
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  h1
    color: white
    margin: 40px
  .iframe-container
    margin-bottom: 40px
    width: 88vw
    height: 49.5vw
    @media screen and (min-width: 600px)
      width: 72vw
      height: 40.5vw
    @media screen and (min-width: 900px)
      width: 64vw
      height: 36vw
  .pictures
    width: 100vw
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    .picture
      width: 300px
      height: 200px
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      margin: 30px 15px
      overflow: hidden
    .pic
      &_0
        background-image: url('/images/making-of-0.jpeg')
      &_1
        background-image: url('/images/making-of-1.jpeg')
      &_2
        background-image: url('/images/making-of-2.jpeg')
      &_3
        background-image: url('/images/making-of-3.jpeg')
      &_4
        background-image: url('/images/making-of-4.jpeg')
      &_5
        background-image: url('/images/making-of-5.jpeg')
      &_6
        background-image: url('/images/making-of-6.jpeg')

.team
  width: 100vw
  background-color: #F7F6FF
  display: flex
  flex-direction: column
  align-items: center
  h1
    margin-top: 40px
    margin-left: 20px
    margin-right: 20px
    max-width: 700px
  p
    max-width: 700px
    margin-left: 20px
    margin-right: 20px
  .splitter
    width: inherit
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap
    @media screen and (min-width: 620px)
      flex-direction: row
      justify-content: center
      align-items: center
      margin-top: 20px
    .tile
      width: 100vw
      display: flex
      justify-content: center
      align-items: center
      @media screen and (min-width: 600px)
        width: 49vw
        display: flex
        justify-content: center
        align-items: center
      .student
        max-width: 400px
        margin-bottom: 40px
        @extend .linear-transition
        &:hover
          transform: translateY(-10px)
          background-color: #f1eeff
          border-radius: 4px
        .christian
          background-image: url('/images/Christian.jpeg')
        .adelina
          background-image: url('/images/Adelina.jpeg')
        .jun
          background-image: url('/images/Jun.jpeg')
        .johan
          background-image: url('/images/Johan.jpeg')
        .joakim
          background-image: url('/images/Joakim.jpeg')
        .sandra
          background-image: url('/images/Sandra.jpeg')
        .profile
          height: 80px
          width: 80px
          background-position: center
          border-radius: 100px
          background-size: cover
          margin: 0 auto
        .rest
          width: 100%
          p
            width: 100%
            margin-top: 20px
            margin-left: 10px
            color: black
            font-weight: 16px
            text-align: center
          ul
            margin-left: 10px
            margin-top: 0
            margin-bottom: 0
            padding-left: 20px
            li
              font-weight: 300
              font-size: 14px
              color: black

.footer
  width: 100vw
  height: 60px
  display: flex
  justify-content: center
  align-items: center
  background-color: #2C2C2C
  p
    margin: 0
    color: white
    font-weight: 300
    font-size: 18px
